@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main_bg: #ffff;
  --page_color: #f7f7fb;
  --input_color: #f0f2f5;
  --line_color: #f0f2f5;
  --primary_bg: #66717f;
  --single_color: rgba(109, 40, 217, 1);
  --secondary_bg: #28353e;
  --hover_color: #f0f2f5;
  --blur: rgba(255, 255, 255, 0.8);
  --text_color: #333;
  --primary_color: #1fa0ef;
  --secondary_color: #848f95;
  --title_color: #66717f;
  --black: #29313d;
  --white: #fff;
  --green: #21d997;
  --blue: #5093f3;
  --red: #e54953;
  --yellow: #d9a94a;
  --purple-100: #f3e8ff;
  --pink-100: #f3e8ff;
  --cyan-100: #cffafe;
}
